    pub async fn {{{method}}}(&self, input: &{{{input}}}, content_type: &str) -> ClientResult<{{{output}}}, {{{error}}}> {
        let body = input.{{{body_field}}}.clone();
        self.client
            .raw_request_json("{{{path}}}", input, body, content_type)
            .await
    }
