
async fn {{{handler}}}<S: {{{trait_name}}}>(
    State(service): State<S>,
    {{{context_extractor}}}ApiJson(_): ApiJson<serde::de::IgnoredAny>,
) -> Response {
{{{role_guard}}}    match service.{{{method}}}({{{context_arg}}}).await {
        Ok(body) => body.into_response(),
        Err(error) => error.into_response(),
    }
}
